backports-datetime-fromisoformat==1.0.0; python_version == "3.6"
cherrypy
coverage>=5.1
coverage_pyver_pragma>=0.0.5
pytest>=6.0.0
pytest-cov>=2.8.1
pytest-httpserver
pytest-randomly>=3.3.1
pytest-rerunfailures>=9.0
